# Do not change this file

In [1]:
import pandas as pd
import numpy as np

In [2]:
city_industry_matrix = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/city_industry_matrix.csv")

In [3]:
city_industry_matrix

           date      city_name             industry_name  detection_count
0    2023-04-23      Abu Dhabi     Professional Services                2
1    2023-04-23         Adalaj  Hospitality & Healthcare                4
2    2023-04-23       Agartala     Professional Services                3
3    2023-04-23      Ahmedabad                   Telecom                1
4    2023-04-23      Ahmedabad                   IT/ITES                6
..          ...            ...                       ...              ...
537  2023-04-23  Visakhapatnam                   IT/ITES                2
538  2023-04-23  Visakhapatnam     Professional Services               73
539  2023-04-23    Yamunanagar             Manufacturing               17
540  2023-04-23       Yasothon     Professional Services                2
541  2023-04-23      Yongin-si     Professional Services               10

[542 rows x 4 columns]

In [4]:
city_industry_matrix_list = city_industry_matrix.columns.to_list()

In [5]:
city_industry_matrix_list

['date', 'city_name', 'industry_name', 'detection_count']

In [6]:
cloud_lookup_stats = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/cloud_lookup_stats.csv")

In [7]:
cloud_lookup_stats

         date  url_lookup_count  file_lookup_count
0  2023-04-23          50002736           10002736
1  2023-04-24          55002736           12002736
2  2023-04-25          55002736           22002736
3  2023-04-26          65002736           19002736
4  2023-04-27          45002736           22002736

In [8]:
cloud_lookup_stats_list = cloud_lookup_stats.columns.to_list()

In [9]:
daily_detection_count = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/daily_detection_count.csv")

In [10]:
daily_detection_count

,date,total_engine_count,total_ngav_count,total_arw_count,total_web_security_count,uniq_engine_count,uniq_ngav_count,uniq_arw_count,uniq_web_security_count,total_base_scanner_count,total_memory_scanner_count,total_mail_protection_count,total_boot_scanner_count,total_virus_scanner_count,uniq_memory_scanner_count,uniq_base_scanner_count,uniq_mail_protection_count,uniq_boot_scanner_count,uniq_virus_scanner_count
0,2023-05-20,1083428,39262933,2453,6173057,514454,419177,987,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-05-21,1173610,38282863,2216,6791874,527164,438973,944,791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-05-22,1072543,36513709,3162,6364705,529800,414942,536,529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-05-23,1126055,38904134,3542,6113541,536998,363737,578,718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-05-24,1200681,36832411,2636,7015577,534927,432115,745,627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-05-25,1162545,35618433,3957,6990095,517483,389282,545,645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2023-05-26,1163549,40120498,2442,6194664,521344,365305,641,411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2023-05-27,1124989,36886321,3824,6099566,527912,398767,743,347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-05-28,1190326,35620333,2592,6652275,530197,411930,825,775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-05-29,1196741,37316315,3561,6379671,524344,367316,1000,728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2023-05-30,1202747,39285786,3383,7323516,531506,393045,783,212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
daily_detection_count_list = daily_detection_count.columns.to_list()

In [12]:
daily_detection_count_list

['date',
 'total_engine_count',
 'total_ngav_count',
 'total_arw_count',
 'total_web_security_count',
 'uniq_engine_count',
 'uniq_ngav_count',
 'uniq_arw_count',
 'uniq_web_security_count',
 'total_base_scanner_count',
 'total_memory_scanner_count',
 'total_mail_protection_count',
 'total_boot_scanner_count',
 'total_virus_scanner_count',
 'uniq_memory_scanner_count',
 'uniq_base_scanner_count',
 'uniq_mail_protection_count',
 'uniq_boot_scanner_count',
 'uniq_virus_scanner_count']

In [13]:
endpoints_active = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/endpoints_active.csv")

In [14]:
endpoints_active

,date,city_name,state_name,country_name,active_endpoint_count
0,2023-05-02,Kyoto,Kyoto,Japan,0
1,2023-05-02,KÃ¤rdla,Hiiumaa,Estonia,0
2,2023-05-02,KÃ¶then,Saxony-Anhalt,Germany,0
3,2023-05-02,KÃ¸ge,Zealand,Denmark,0
4,2023-05-02,LaOrignal,Ontario,Canada,0
...,...,...,...,...,...
890,2023-05-02,Montemagno,Province of Pisa,Italy,0
891,2023-05-02,Montemagno,Provincia di Asti,Italy,0
892,2023-05-02,Montemarciano,Provincia di Ancona,Italy,0
893,2023-05-02,Montemurlo,Provincia di Prato,Italy,0
894,2023-05-02,Montenero di Bisaccia,Provincia di Campobasso,Italy,0

In [15]:
endpoints_active_list = endpoints_active.columns.to_list()

In [16]:
endpoints_active_list

['date', 'city_name', 'state_name', 'country_name', 'active_endpoint_count']

In [17]:
lab_feed_count = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/lab_feed_count.csv")

In [18]:
lab_feed_count

,date,feed_geo_location,sample_count,url_count,source_city,source_country
0,2023-05-20,"20.4143, 72.8324",358430,0,NaN,NaN
1,2023-05-20,"27.0834, 93.6097",120199,0,NaN,NaN
2,2023-05-20,"11.6661, 92.7464",96288,0,NaN,NaN
3,2023-05-20,"23.7289, 92.7179",27961,0,NaN,NaN
4,2023-05-20,"27.3257, 88.6122",12280,0,NaN,NaN
5,2023-05-20,"15.5017, 73.8225",8983,0,NaN,NaN
6,2023-05-20,"25.5689, 91.8831",2803,0,NaN,NaN
7,2023-05-20,"24.8086, 93.9418",2602,0,NaN,NaN
8,2023-05-20,"23.1701, 79.957",2195,0,NaN,NaN
9,2023-05-20,"12.9172, 74.856",1439,0,NaN,NaN
10,2023-05-20,"25.3144, 83.0053",1273,0,NaN,NaN
11,2023-05-20,"34.0857, 74.8055",794,0,NaN,NaN
12,2023-05-20,"9.9406, 76.2625",666,0,NaN,NaN
13,2023-05-20,"32.7376, 74.8673",440,0,NaN,NaN
14,2023-05-20,"30.322, 78.03",296,0,NaN,NaN
15,2023-05-20,"17.6801, 83.2016",213,0,NaN,NaN
16,2023-05-20,"26.2684, 73.0059",130,0,NaN,NaN
17,2023-05-20,"23.3426, 85.3099",84,0,NaN,NaN
18,2023-05-20,"21.2333, 81.6333",0,94994,NaN,NaN
19,2023-05-24,"25.5908, 85.1348",0,8734,NaN,NaN
20,2023-05-24,"19.0748, 72.8856",0,0,NaN,NaN
21,2023-05-24,"21.198, 72.83",0,0,NaN,NaN
22,2023-05-24,"22.5655, 88.3653",0,0,NaN,NaN
23,2023-05-24,"18.5213, 73.8523",0,0,NaN,NaN
24,2023-05-24,"23.0276, 72.5871",0,0,NaN,NaN
25,2023-05-24,"28.6331, 77.2207",0,0,NaN,NaN
26,2023-05-24,"12.9721, 77.5933",0,0,NaN,NaN
27,2023-05-24,"17.3846, 78.4574",0,0,NaN,NaN
28,2023-05-24,"13.086, 80.2751",0,0,NaN,NaN
29,2023-05-24,"11.0075, 76.9671",0,0,NaN,NaN
30,2023-05-24,"30.7366, 76.7925",0,0,NaN,NaN
31,2023-05-24,"26.9204, 75.7882",0,0,NaN,NaN
32,2023-05-24,"23.2526, 77.4045",0,0,NaN,NaN
33,2023-05-24,"21.1463, 79.0849",0,0,NaN,NaN
34,2023-05-24,"20.2713, 85.8334",0,0,NaN,NaN
35,2023-05-24,"22.2916, 70.7932",0,0,NaN,NaN
36,2023-05-24,"26.8371, 80.9206",0,0,NaN,NaN
37,2023-05-24,"31.6243, 74.8769",0,0,NaN,NaN
38,2023-05-24,"26.1833, 91.7454",0,0,NaN,NaN
39,2023-05-24,"8.4827, 76.9479",0,0,NaN,NaN

In [19]:
lab_feed_count_list = lab_feed_count.columns.to_list()

In [20]:
lab_feed_count_list

['date',
 'feed_geo_location',
 'sample_count',
 'url_count',
 'source_city',
 'source_country']

In [21]:
lab_hi_analysis_count = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/lab_hi_analysis_count.csv")

In [22]:
lab_hi_analysis_count

         date  malware_count  clean_count  unknown_count  total_count
0  2023-05-24             20            0              2           22
1  2023-05-25             25            1              4           30
2  2023-05-26             21            0              3           24
3  2023-05-27             28            2              7           37
4  2023-05-28             17            0              1           18

In [23]:
lab_hi_analysis_count_list = lab_hi_analysis_count.columns.to_list()

In [24]:
lab_hi_analysis_count_list

['date', 'malware_count', 'clean_count', 'unknown_count', 'total_count']

In [25]:
lab_malware_classification = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/lab_malware_classification.csv")

In [26]:
lab_malware_classification

,date,malware_count,pua_count,adware_count,unknown_count,clean_count,total_count
0,2023-05-20,2078,1032,893,28802,156,280838
1,2023-05-24,2112,932,763,24869,182,296025
2,2023-05-25,1934,934,837,24604,176,280205
3,2023-05-26,1834,1134,394,22589,103,290985
4,2023-05-27,2232,833,563,22656,190,286259

In [27]:
lab_malware_classification_list = lab_malware_classification.columns.to_list()

In [28]:
lab_malware_classification_list

['date',
 'malware_count',
 'pua_count',
 'adware_count',
 'unknown_count',
 'clean_count',
 'total_count']

In [29]:
lab_ml_url_classification = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/lab_ml_url_classification.csv")

In [30]:
lab_ml_url_classification

         date  count
0  2023-05-18  90653
1  2023-05-19  70233
2  2023-05-20  73495
3  2023-05-21  71167
4  2023-05-22  91645
5  2023-05-23  85422
6  2023-05-24  91080
7  2023-05-25  54562
8  2023-05-26  80864
9  2023-05-27  81306

In [31]:
lab_ml_url_classification_list = lab_ml_url_classification.columns.to_list()

In [32]:
lab_ml_url_classification_list

['date', 'count']

In [33]:
lab_signature_count = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/lab_signature_count.csv")

In [34]:
lab_signature_count

         date  apex_count  sml_count  nonpe_count
0  2023-05-05         154        510       177329
1  2023-05-06         155        533       192173
2  2023-05-07         196        706       198773
3  2023-05-08         138        651       190843
4  2023-05-09         139        602       197664
5  2023-05-10         149        543       164829
6  2023-05-11         160        836       165806
7  2023-05-12         160        711       194037
8  2023-05-13         173        984       170735
9  2023-05-14         119        830       153568

In [35]:
lab_signature_count_list = lab_signature_count.columns.to_list()

In [36]:
lab_signature_count_list

['date', 'apex_count', 'sml_count', 'nonpe_count']

In [37]:
lab_update_info = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/lab_update_info.csv")

In [38]:
lab_update_info

          date                  vdb            update_type
0   2023-05-01  2023-05-01 00:02:00                 ENGINE
1   2023-05-01  2023-05-01 08:49:00                 ENGINE
2   2023-05-01  2023-05-01 08:40:00  Vulnerability Scanner
3   2023-05-01  2023-05-01 11:52:00                 ENGINE
4   2023-05-01  2023-05-01 18:06:00                 ENGINE
..         ...                  ...                    ...
66  2023-05-18  2023-05-18 16:14:00  Vulnerability Scanner
67  2023-05-18  2023-05-18 20:16:00                 ENGINE
68  2023-05-19  2023-05-19 00:03:00                Product
69  2023-05-19  2023-05-19 08:14:00  Vulnerability Scanner
70  2023-05-19  2023-05-19 09:35:00                 ENGINE

[71 rows x 3 columns]

In [39]:
lab_update_info_list = lab_update_info.columns.to_list()

In [40]:
lab_update_info_list

['date', 'vdb', 'update_type']

In [41]:
platform_detection_matrix = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/platform_detection_matrix.csv")

In [42]:
platform_detection_matrix

,date,platform_name,ngav_detection_count,arw_detection_count,network_detection_count,engine_detection_count,protected_endpoint_count
0,2023-04-23,Windows 8.1 64 bit,NaN,NaN,NaN,NaN,NaN
1,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
2,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3,2023-04-23,Windows 8.1,NaN,NaN,NaN,NaN,NaN
4,2023-04-23,Windows 8.1 64 bit,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3664,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3665,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3666,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3667,2023-04-23,Windows 10 64 bit,NaN,NaN,NaN,NaN,NaN
3668,2023-04-23,Windows 7 64 bit,NaN,NaN,NaN,NaN,NaN

In [43]:
platform_detection_matrix_list = platform_detection_matrix.columns.to_list()

In [44]:
platform_detection_matrix_list

['date',
 'platform_name',
 'ngav_detection_count',
 'arw_detection_count',
 'network_detection_count',
 'engine_detection_count',
 'protected_endpoint_count']

In [45]:
top_detections_daily = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/top_detections_daily.csv")

In [46]:
top_detections_daily

,date,top_cities,top_city_counts,top_cves,top_cves_counts,top_industries,top_industry_counts,top_ips,top_ip_counts,top_process,top_process_counts,top_ransomware,top_ransomware_counts,top_threats,top_threat_counts,top_states,top_state_counts,top_tactics,top_tactics_count
0,2023-05-02,Mumbai,58905,EternalBlue,825608,Professional Services,40106,72.26.218.86,69274,C:\\Windows\\System32\\rundll32.exe,2821953,Ryuk,1374,Trojan.Agent,54397,Maharashtra,137320,Execution,3336
1,2023-05-02,Kolkata,45898,CVE-2017-0147-EC,797339,Manufacturing,31481,131.153.76.130,34511,C:\\Windows\\System32\\svchost.exe,1798854,Cerber,414,Trojan.Starter.YY4,37710,Gujarat,107106,Exfiltration,1117
2,2023-05-02,Pune,38046,Autoblue,307132,Education,22310,125.253.92.50,33232,C:\\Windows\\System32\\wermgr.exe,995393,Conti,57,Worm.AUTOIT.Tupym.A,30359,National Capital Territory of Delhi,68391,Persistence,345
3,2023-05-02,New Delhi,34299,URSNIF!AP,89234,Government,16727,10.10.10.1,32877,C:\\Windows\\System32\\taskhostw.exe,836555,DarkSide,37,LNK.Cmd.Exploit.F,25437,West Bengal,57612,Defense Evasion,287
4,2023-05-02,Delhi,33937,CryptojackingDDoS,76200,Hospitality & Healthcare,9179,94.158.247.34,27552,C:\\Windows\\System32\\backgroundTaskHost.exe,704271,Petya,11,W32.Expiro.R3,22764,Tamil Nadu,39845,Privilege Escalation,286
5,2023-05-02,Surat,31983,MaliciousIP!AR,71952,IT/ITES,7884,192.168.1.39,26725,C:\\Windows\\System32\\conhost.exe,616063,Locky,6,Trojan.IGENERIC,22604,Karnataka,32626,Initial Access,230
6,2023-05-02,Bengaluru,24100,EternalSynergyLeak,23534,BFSI,1573,192.168.1.1,24965,C:\\Windows\\System32\\dllhost.exe,499937,REvil,1,Worm.Autoit.Sohanad.S,21365,Telangana,27062,Discovery,154

In [47]:
top_detections_daily_list = top_detections_daily.columns.to_list()

In [48]:
top_detections_daily_list

['date',
 'top_cities',
 'top_city_counts',
 'top_cves',
 'top_cves_counts',
 'top_industries',
 'top_industry_counts',
 'top_ips',
 'top_ip_counts',
 'top_process',
 'top_process_counts',
 'top_ransomware',
 'top_ransomware_counts',
 'top_threats',
 'top_threat_counts',
 'top_states',
 'top_state_counts',
 'top_tactics',
 'top_tactics_count']

In [49]:
url_classification_count = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/url_classification_count.csv")

In [50]:
url_classification_count

         date  malicious_count  phishing_count  clean_count  unknown_count
0  2023-05-23           160982             158          507           9478
1  2023-05-24           168182             126          506          10023
2  2023-05-25           174240             176          406           5303
3  2023-05-26           157023             251          293           5153
4  2023-05-27           176793             260          582           6113
5  2023-05-28           194610             191          305          10637
6  2023-05-29           170493             147          218           7187
7  2023-05-30           132779             142          489           9680
8  2023-05-31           188133             213          331           6881

In [51]:
url_classification_count_list = url_classification_count.columns.to_list()

In [52]:
url_classification_count_list

['date', 'malicious_count', 'phishing_count', 'clean_count', 'unknown_count']

In [53]:
url_detection_count = pd.read_csv("/home/thrymr/Downloads/Projects/Command Center/Data/url_detection_count.csv")

In [54]:
url_detection_count

         date  malicious_count  phishing_count  parental_count
0  2023-05-02          1078881           17810           16461
1  2023-05-03          1161104           17811           19702
2  2023-05-04           974491           13305           19153
3  2023-05-05           941227           18692           16910
4  2023-05-06          1009934           15897           17949
5  2023-05-07           905873           16389           16375
6  2023-05-08           969532           17167           16718
7  2023-05-09          1138910           14734           19991
8  2023-05-10           965111           17350           17861
9  2023-05-11           935822           12283           16412

In [55]:
url_detection_count_list = url_detection_count.columns.to_list()

In [56]:
url_detection_count_list

['date', 'malicious_count', 'phishing_count', 'parental_count']

## Do not change this file